.page{
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color:#f2f2f2 ;
  padding-left:64px;
  display:flex;
  align-items:center;
  z-index:-1;
}
.logo_place_header{
position: absolute;
margin-top: 30px;
margin-left: 64px;
top: 0;  
}
.header__title{
width: 730px;
border: 3px solid rebeccapurple;
align-items: center;
margin: 0;
line-height: 96px;
font-weight: bold;
font-size: 102px;

}
.header__subtitle{
width: 388px;
left: 64px;
bottom: 30px;
position: absolute;
font-weight: normal;
line-height: 25px;
text-decoration: none;
font-size: 18px;

}
.header__link{
  height: 765px;
  width: 608px;
  text-decoration: none;
  color:#2f80ed;

}
.header__main-illustration{
width: 608px;
height: 765px;
bottom: 0;
right: 0;
position: absolute;
border: 3px solid rebeccapurple;
object-fit: cover;
z-index: 2;
background-size: cover;
}
.header__square-pic{
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  display: flex;
  margin-top: 64px;
  right: 0;
  position: absolute;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
}
.description{
display: flex;
align-items: center;

   

}
.two-columns{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 80%;
  display: flex;
 justify-content:  space-between;

min-height: 30px;  
}
.two-columns__brief{
width: 175px;
langer: 18px;
line-height: 1.2;
font-style: normal;
  
}
.two-columns__main-text{
 
min-width: 784px;
width: 80%;
margin-bottom: 100px;
margin_top: 100px;
}
.two-columns__paragrapf{
margin-bottom: 30px;
font-size: 24px;
font-weight: 400;
line-height: 34px;
color: #000;
   
}
.two-columns__span-accent{
line-height: 34px;
font-size: 24px;
font-weight: bold;  
}
.digits{
display: flex;
 text-align: center;
 display: inline-block; 
}
div {
 
  border: 2px solid red;
  display: inline-block;
  margin: 10px;
}
.section-title{
width: 1100px;
display: flex;  
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  line-height: 1.15px;
  font-size: 60px;
  text-align: center;
}
.section-subtitle{
width: 60%;
padding-top: 20px;
line-height: 34px;
font-size: 24px;
font-weight: normal;    
}
.table{
display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.table__cell{
  width: 250px;
  margin-bottom: 60px;
   text-align: center;
}
.table__heading{
line-height: 1.15;
larger: 24px;
font-weight: bold;
 margin: 20px;
  
}
.table__text{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
  font-weight: normal;
   
}
.feymen {
  background-image:url(../images/feynman.png) ;
  background: color #f2f2f2;
  background-position:bottom-left;
  background-repeat:no-repeat;
  background-size: 867px 637px;
  border: 1px solid rebeccapurple;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.feymen__title {
  display: flex;
  align-items: center;
  width: 648px;
margin-top: 100px;
font-weight: bold;
line-height: 1.15;
font-size: 120px;
  
}
.feymen__subtitle {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  margin: auto;
  text-align: center;
  border: 1px solid rebeccapurple;
}
.kaufman{

}
.section-title_theme_dark{
margin-top: 90px;

}
.section-subtitle_theme_dark{

}
.table__theme_dark{

}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.table__heading_theme_dark{

}
.table__text_theme_dark{

}
.kaufman__triangle{

}
.footer{
  position: absolute;
  right: 0;  
}
.footer__column_link{
text-decoration: none;
color: white;
display: flex;
font-weight: normal;
font-size: 18px;
list-style: none;
line-height: 30px;
}
.footer__column_links{
text-decoration: none;
display: flex;
color: white;
list-style: none;
font-weight: normal;
font-size: 18px;
line-height: 30px;
display: inline-block;
list-style: none;
border: 0 solid red;
}
 .footer__columns_content_social{
color: white;
flex-wrap: nowrap;
flex-direction: column;
list-style: none;
text-decoration: none;
justify-content: start;
border: 2px solid red;
 }
 .footer__social-icon{
width: 16px;
height: 16px;
margin: 20px 0 16px 10px;
padding: 0;
display: inline-block;
list-style: none;
flex-direction: column;
 }
 .footer__heading{

 }
 .footer__autor{

 }
 .footer__columns_content_info{

 }
 .footer__coluns_content_copyright{

 }
 .footer__columns{

 }